.token/

ansible/inventory/**/hosts.ini
ansible/inventory/**/.pem/
ansible/inventory/**/*.pem
ansible/inventory/**/group_vars/all.yml
ansible/inventory/**/group_vars/*.vault.yml

devops-platform/.token/
devops-platform/.env
devops-platform/env/sonar.env
devops-platform/platform/gitlab/gitlab-runner-value.yml
devops-platform/platform/sonarqube/.sonarqube-token
devops-platform/platform/sonarqube/sonar-secret.yml
devops-platform/platform/sonarqube/sonar-project.properties

*.retry
*.swp
*.swo
.DS_Store
__pycache__/
*.bak
*.tmp
