[defaults]
inventory = ./inventory/dev/hosts.ini # -i inventory/... 안쓰고 all 로 가능하게 함
host_key_checking = False # 처음 접속 미확인
retry_files_enabled = False # 실패시 .retry파일 x
stdout_callback = yaml # ansible 출력 yaml
interpreter_python = auto_silent # python 인터프리터 찾기
roles_path = ./roles # role 디렉토리 경로 명시
remote_user = ubuntu # 원격 서버 접속시 기본 ssh 유저

[ssh_connection] # ssh 연결 방식 관련 설정
pipelining = True # ansible 작업 속도
